{% if bridge %}
<div id="scene-bridge" class="clip scene" data-start="{{ sceneFrames.hook }}" data-duration="{{ sceneFrames.bridge }}" data-track-index="1">
  <div class="scene-inner">
    <div id="bridge-text" class="scene-text bridge-text">{{ bridge }}</div>
  </div>
</div>
{% endif %}
