<div id="scene-cta" class="clip scene" data-start="{{ sceneFrames.hook + sceneFrames.bridge + sceneFrames.quote }}" data-duration="{{ sceneFrames.cta }}" data-track-index="1">
  <div class="scene-inner">
    <div id="cta-text" class="scene-text cta-text">{{ cta }}</div>
  </div>
</div>
