{% if hook %}
<div id="scene-hook" class="clip scene" data-start="0" data-duration="{{ sceneFrames.hook }}" data-track-index="1">
  <div class="scene-inner">
    <div id="hook-text" class="scene-text hook-text">{{ hook }}</div>
  </div>
</div>
{% endif %}
